  - name: Install Keploy CLI
    run: |
      curl --silent -L https://keploy.io/ent/install.sh | bash
      
  - name: Run Keploy Test Suite
    run: |
      export KEPLOY_API_KEY=McJjkRzMHcTtdr012w== && keploy test-suite --app=35ce2a0e-f545-484a-a7e2-ccc8163c7a2f --base-path https://hackculture-chatbot.onrender.com --cloud